/* SIDEBAR HIDDEN */
.sidebar {
    display: none;
}

.contact-info-bar {
    display: none;
}

/* BODY */

body {
    margin: 0px 50px;
    background-color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif, Calibri, 'Gill Sans';
}

/* HEADER */

header {
    height: 150px;
    margin-top: 40px;
}

.social-media-imgs img {
    position: relative;
    display: inline;
    float: right;
    bottom: 165px;
    width: 45px;
    margin-right: 40px;
    margin-top: 65px;
}

.header-title {
    width: 200px;
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
    color: #37386766;
}

/* separation bars */

.sep-bar-green {
    height: 9px;
    background-color: #AACE9B;
    border: none;
}

.sep-bar-gen {
    height: 2px;
    background-color: #DDE1E3;
    border: none;
}

/* MAIN SECTION */

#welcome-page {
    height: 450px;
    padding-bottom: 270px;
    padding-top: 12px;
    margin-top: 5px;
    margin-bottom: 50px;
    background-color: #F7FBF5;
    border-bottom: 20px rgb(0, 255, 55);
}

.wp-left {
    width: 600px;
    height: 500px;
    margin-top: 5px;
    margin: 125px 0px 0px 12px;
}

.wp-left h1 {
    color: #373867;
    font-weight: bold;
    font-size: 40px;
}

.wp-left h2 {
    color: #37386766;
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
}

.wp-left p {
    color: #37386766;
    margin-top: 80px;
    font-size: 20px;
    line-height: 30px;
}

.btn-green {
    color: #373867;
    width: 154px;
    height: 49px;
    margin-top: 50px;
    margin-left: 12px;
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: bold;
}

.wp-right img{
    width: 625px;
    height: 625px;
    margin-left: 1180px;
    margin-top: -580px;
}

/* APP FEATURES SECTION*/
/* App features title*/

.app-features {
    margin-top: 50px;
    background-color: red;
}

.app-features h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #373867;
}

.app-features h3 {
    font-size: 40px;
    color: #373867;
}


/* Contact form section */

#contact-form {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: yellow;
}

#contact-form h2 {
    color: #373867;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

form .sep-line-gen {
    position: relative;
    bottom: 300px;
}

/* contact inputs positions */

.form-name {
    position: relative;
    display: inline;
}

.form-surname {
    position: relative;
    display: inline;
}

.form-email {
    position: relative;
    display: inline;
}

.form-message #message {
    position: relative;
    display: block;
}
